# Firebase local
.firebase/
firebase-debug.log
firebase-debug.*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables y secretos
.env
.env.*
!.env.example

# Firebase Admin / Service Accounts
serviceAccountKey.json
*-firebase-adminsdk-*.json
*service-account*.json

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store